* {
    background-color: rgba(42, 45, 54, 1.00);
  }
.main{
    color: white;
    display: flex;
    height: 100vh;
}
.main__sideBar {
}
.sideBar {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 200px;
}
.sideBar__logo {
    padding: 20px 0 0 0;
    font-size: 42px;
    font-weight: bold;
}
.sideBar__title {
    padding: 0 0 20px 0;
}
.sideBar__allBoards {
    margin: 40px 0 0 0;
    flex: 1 0 auto;
}
.sideBar__list {
}
.list__board {
    padding: 10px 0;
}
.list__addNewBoard {
    padding: 10px 0;
}
.sideBar__footer {
}
.main__workWindow {
    flex: 1 0 auto;
}
.workWindow__header {
    display: flex;
    height: 50px;
    padding: 0 20px;
    height: 100px;
    max-height: 100px;
}
.header__title {
    font-size: 32px;
    flex: 1 0 auto;
    font-weight: bold;
    padding: 24px 0 0 0;
}
.header__addTaskButton {
    padding: 24px 0 0 0;
}
.addTaskButton {
    background-color: rgba(97, 92, 194, 1.00);
    border: rgba(97, 92, 194, 1.00);
    border-radius: 1000px;
    font-weight: bold;
    color: white;
    padding: 14px 24px;
    text-align: center;
}
.workWindow__allColumns {
    display: flex;
    background-color: rgba(31, 34, 43, 1.00);
    padding: 10px;
}
.allColumns__column {
}
.column__title {
}
.column__cards {
}
.card {
}
.card__title {
}
.card__substasks {
}
.allColumns__addNewColumn {
}
